<% statistics ||= Statistics.new %>
<% overlay ||= false %>

<div class="flex flex-row flex-wrap justify-center mt-16 ">
  <div class="flex w-full">
    <div class="flex flex-col items-center" style="margin-left: calc(<%= percentage_done(statistics) %>% - 60px);">
      <%= image_tag "champions/#{statistics.current_champion.riot_id}.png", title: statistics.current_champion.name, id: 'current-champion' %>
      <div class="indicator w-0.5 h-24 bg-black dark:bg-white z-10"></div>
    </div>
  </div>
  <div class="w-full lg:h-12 h-10 bg-gray-200 rounded-full dark:bg-gray-700 -mt-10 lg:-mt-12">
    <%= content_tag :div, class: 'lg:h-12 h-10  bg-[#5acd9d] rounded-l-full flex items-center justify-center', style: "width: #{percentage_done(statistics)}%" do %>
      <span class="text-xs sm:text-normal md:text-xl whitespace-nowrap text-black dark:text-white" id="progress">
        <%= statistics.finished_champions.length %> / <%= statistics.total_champions.count %>
      </span>
    <% end %>
  </div>
</div>

<% if overlay %>
  <h2 class="text-center -mt-2 neon text-5xl md:text-7xl">NoWay4u</h2>
<% end %>
