<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <%= display_meta_tags(default_meta_tags) %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Mr+Dafoe&display=swap" rel="stylesheet">
  </head>

  <body class="dark:text-white <%= @overlay ? 'bg-transparent' : 'bg-[#efefef] dark:bg-[#131326]' %>">
    <main class="container mx-auto mt-6">
      <%= yield %>
    </main>
  </body>
</html>
